#view,
#txtarea {
  height: 150px;
  width: 400px;
  font-family: arial;
  font-size: 14px;
}

#view {
  padding: 2px;
  border: 1px solid black;
}

#txtarea {
  display: none;
  border: 3px groove blue;
  padding: 0px;
}

#txtarea:focus {
  outline: none;
}